.container {
  padding-bottom: 50px;
}
.bslider {
  position: relative;
}
.bslider .window {
  overflow: hidden;
}
.bslider .item {
  position: relative;
  float: left;
  height: 320px;
}
.bslider .frame {
  position: relative;
  overflow: hidden;
}
.bslider2 {
  position: relative;
}
.bslider2 .window2 {
  overflow: hidden;
}
.bslider2 .item2 {
  position: relative;
  float: left;
  height: 320px;
}
.bslider2 .frame2 {
  position: relative;
  overflow: hidden;
}
.slider-maxw {
  width: 100%;
}
.slider-no_win {
  overflow: hidden;
}
.slider-normalw {
  max-width: 640px;
  margin: auto;
}
.controls,
.controls2 {
  font-size: 48px;
  line-height: 48px;
}
.controls-wide {
  position: absolute;
  top: 140px;
}
.controls-wide .right,
.controls-wide .left {
  width: 50px;
  position: absolute;
  text-align: center;
  background: rgba(255, 255, 255, 0.5);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.controls-wide .right {
  right: 0px;
}
.controls-overflow .right,
.controls-overflow .left {
  background: transparent;
}
.controls-overflow .left {
  left: -38px;
}
.controls-overflow .right {
  right: -38px;
}
.controls-normal {
  text-align: center;
}
.controls-normal .right,
.controls-normal .left,
.controls-normal .right2,
.controls-normal .left2 {
  display: inline-block;
}
